doctype html
html(lang="en")
    head
        title Update contact info
        link(rel="stylesheet", href="/css/style.css")
    body
        ul
            li
                a(href='/contacts') Contacts page
            li
                a(href='/update?email=emailmaria@hubspot.com') Update contact
